<main class="container">

    <h2 class="pricipal-text">Quer entrar em contato?</h2>

    <div class="icons">

        <a href="{{ linkedIn }}" class="icon">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="{{ gitHub }}" class="icon">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="{{ instagram }}" class="icon">
            <i class="fa-brands fa-instagram"></i>
        </a>

    </div>

    <p class="copy">&copy; Todos os direitos reservados.</p>

</main>