.links-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    margin: 0 1rem 0;
    list-style: none;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 375px) {
    li {
        font-size: 1.1rem;
    }
}